<section class="section-confirm section-padding wow fadeInUp" id="section-confirm">
	<div class="container">
		<div class="row flex-justify-center">
			<div class="col-lg-8 col-md-10">
				<div class="text-center">
					<h2 class="section-title wow fadeInUp" data-wow-delay="0.5s">XÁC NHẬN THÔNG TIN KHÁCH HÀNG</h2>
					<p class="section-subtitle wow fadeInUp" data-wow-delay="1s">Khách hàng để lại thông tin để nhận được giá tốt nhất và chính sách bán hàng hấp<br>dẫn từ tổng đại lý phân phối của Johnnie Walker Việt Nam<br>Chúng tôi cam kết uống có trách nhiệm</p>
				</div>
				<form class="form form-confirm wow fadeInUp" data-wow-delay="1.5s">
					<div class="row flex-wrap">
						<div class="col-sm-6 col-12">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Họ và tên*" name="name" required>
							</div>
						</div>
						<div class="col-sm-6 col-12">
							<div class="form-group">
								<input type="tel" class="form-control" placeholder="Số điện thoại*" name="mobile" required>
							</div>
						</div>
					</div>
					<div class="flex flex-justify-between flex-with-gutter row-2">
						<div class="form-group">
							<select name="date" class="form-control">
								<option value="">Ngày</option>
								<% for (var i = 1; i < 31; i++) { %>
									<option value="<%= i %>"><%= i %></option>
								<%  } %>
							</select>
						</div>
						<div class="form-group">
							<select name="date" class="form-control">
								<option value="">Tháng</option>
								<% for (var i = 1; i < 12; i++) { %>
									<option value="<%= i %>"><%= i %></option>
								<%  } %>
							</select>
						</div>
						<div class="form-group">
							<select name="date" class="form-control">
								<option value="">Năm</option>
								<% for (var i = 2018; i < 2021; i++) { %>
									<option value="<%= i %>"><%= i %></option>
								<%  } %>
							</select>
						</div>
						<div class="form-group">
							<input type="email" name="email" placeholder="Email" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<textarea name="message" rows="5" class="form-control" placeholder="Nội dung cần tư vấn hoặc địa chỉ giao nhận"></textarea>
					</div>
					<div class="form-group-checkbox">
						<input type="checkbox" name="accept" class="form-control" id="check-confirm">
						<label for="check-confirm"></label>
						<label for="check-confirm">Tôi đồng ý nhận nội dung cho Diageo trong tương lai và thông tin của tôi sẽ được sử dụng cho các mục đích tiếp thị</label>
					</div>
					<p>Bằng cách nhập, bạn chấp nhận chính sách bảo mật và của chúng tôi.</p>
					<a href="#">Điều kiện sử dụng</a>
					<div class="text-center">
						<button class="btn btn-outline-dark btn-submit" type="submit" onclick="if(!this.form.querySelector('input[name=accept]').checked) {alert('Bạn cần đồng ý chấp nhận chính sách bảo mật và điều khoản trước khi đăng ký.'); return false;} else {submitForm(this.form);}">Xác nhận</button>
						<p class="lead-lg">Liên hệ hotline 1900 636934 để được tư vấn</p>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- End #section-confirm -->