<% var list = [
	{
		title: 'CÁC ĐIỀU KHOẢN VÀ ĐIỀU KIỆN',
		link: '#'
	},
	{
		title: 'ĐIỀU LỆ BẢO MẬT',
		link: '#'
	},
	{
		title: 'QUYỀN TRUY CẬP ',
		link: '#'
	},
	{
		title: 'DRINKAWARE.CO.UK ',
		link: '#'
	},
	{
		title: 'DRINKIQ',
		link: '#'
	},
	{
		title: 'THEBAR.COM',
		link: '#'
	}
] %>

<footer class="page-footer section-padding text-center wow fadeInUp" id="page-footer">
	<div class="container">
		<h2 class="section-title wow fadeInUp" data-wow-delay="0.5s">Thưởng thức có trách nhiệm, 18+</h2>
		<ul class="list text-uppercase wow fadeInUp" data-wow-delay="0.7s">
			<% list.forEach(function(n, index) { %>
				<li><a href="<%= n.link %>"><%= n.title %></a></li>
			<% }) %>
		</ul>
		<p class="footer-info wow fadeInUp" data-wow-delay="1s"><small>CÁC DÒNG CHỮ JOHNNIE WALKER®, JOHNNIE WALKER® HOUSE, JOHN WALKER &amp; SONS, RED LABEL®, BLACK LABEL®, DOUBLE BLACK™, GOLD LABEL RESERVE™, PLATINUM LABEL™, BLUE LABEL™, XR™, KING GEORGE V™, JOHN WALKER &amp; SONS ODYSSEY™, JOHN WALKER™, DIAMOND JUBILEE™, ADVENTURER™, SPICE ROAD™, GOLD ROUTE™ VÀ THE ROYAL ROUTE™, BIỂU TƯỢNG NGƯỜI ĐÀN ÔNG SẢI BƯỚC VÀ CÁC LOGO LIÊN QUAN LÀ TÀI SẢN ĐÃ ĐĂNG KÝ CỦA CÔNG TY JOHN WALKER &amp; SONS © 2016</small></p>
	</div>
</footer>