<header id="page-header" class="page-header">
	<div class="container">
		<div class="row flex-justify-center">
			<div class="col-lg-8">
				<section class="box text-center text-light">
					<div>
						<a href="#" class="logo-header wow fadeInUp" data-wow-duration="1" data-wow-delay="1"><img src="assets/images/logo.png" alt="John WAlker"></a>
						<h1 class="wow fadeInUp" data-wow-delay="0.5s">JOHN WALKER &amp; SONS<br>XR21 NĂM TUỔI</h1>
						<p class="font-secondary lead wow fadeInUp" data-wow-delay="1.5s">Mạnh mẽ, cân bằng và thanh tao, JOHN WALKER & SONS XR™21 Năm Tuổi ẩn chứa những lớp hương đậm đà quyến rũ đem đến những sự ngạc nhiên dễ chịu. Vị ngọt cùng với chút cay nồng đã được làm dịu đi được giấu đi sau hương khói nồng ấm. Hương tươi mới của họ cam quýt, hương trái cây nhiệt đới chín mùi và hương caramel quyện trong hương củalá thuốc lá và nho khô. Hậu vị êm mượt kéo dài đầy đam mê quyến rũ.</p>
						<a href="#section-confirm" data-scroll class="btn btn-outline-light btn-scroll wow fadeInUp" data-wow-delay="1.5s">Mua ngay</a>
					</div>
				</section>
			</div>
		</div>
	</div>

	<section class="cta-fixed text-light text-center wow fadeInDown" data-wow-delay="1.7s">
		<p>Cùng thưởng thức</p>
		<a href="#section-steps" data-scroll class="btn-scroll"><img src="assets/images/icon-angle-down.svg" alt="icon" height="30"></a>
	</section>
</header>
<!-- End #page-header -->
