<nav id="nav-top" class="nav-top flex flex-justify-between wow fadeInDown">
	<div class="container">
		<div class="flex flex-justify-between flex-align-center">
			<div class="menu">
				<div class="menu-wrapper">
				  	<div class="hamburger-menu"></div>	  
				</div>
			</div>
			<div class="contact">
				<div class="hotline">
					<img src="assets/images/icon-phone.svg" alt="phone">
					<span">Liên hệ hotline <a href="#">1900 636934</a> <span class="hidden-sm">để được tư vấn</span></span>
				</div>
				<ul class="list-social">
					<li><a href="#"><img src="assets/images/icon-facebook.svg" alt="facebook"></a></li>
					<li><a href="#"><img src="assets/images/icon-twitter.svg" alt="twitter"></a></li>
					<li><a href="#"><img src="assets/images/icon-instagram.svg" alt="instagram"></a></li>
					<li><a href="#"><img src="assets/images/icon-youtube.svg" alt="youtube"></a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>