<section class="section-steps section-padding text-center wow fadeIn" data-wow-duration="2s" data-wow-offset="100" id="section-steps">
	<div class="container">
		<div class="row flex-justify-center">
			<div class="col-lg-6 col-md-8">
				<h2 class="section-title wow fadeInUp" data-wow-delay="0.5s">Cách thưởng thức</h2>
				<p class="section-subtitle wow fadeInUp" data-wow-delay="0.75s">Hãy trải nghiệm hương vị sang trọng, đậm đà và giàu phức hợp hương của John Walker &amp; Sons XR 21. Thóang nhẹ là hương vanilla êm đằm đang quyện trong sự gợi mở ngọt ngào của hương mật ong và cuối cùng là hậu vị êm mượt đến hòan hảo. Tuyệt với nhất khi thưởng thức nguyên chất trong phòng ở nhiệt độ thường, đi cùng là một ly soda ướp lạnh tươi mát.</p>
				<img src="assets/images/img-glass.jpg" alt="whisky" class="img-preview wow fadeInUp" data-wow-delay="1s">
				<p class="wow fadeInUp" data-wow-delay="1.3s">I<br>
				Chuẩn bị ly whisky cao
				<br><br>
				II<br>
				Dùng ly định lượng đo lấy 45 ml John Walker &amp; Sons XR 21
				<br><br>
				III<br>
				Thưởng thức kèm một ly nước soda lạnh</p>
			</div>
		</div>
	</div>	
</section>
<!-- End #section-steps -->
