body {
	font-size: $font-size-base;
	font-family: $font-family-base;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: $line-height-normal;
	color: $dark;
}

* {
	box-sizing: border-box;
}

// Sections

// Navigation

.contact {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.nav-top {
	background: black;
	color: $white;
	padding-top: $space-sm;
	padding-bottom: $space-sm;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;

	a {
		color: $white;
	}
}

.hotline {
	font-style: italic;

	img {
		height: 1rem;
		margin-right: 1rem;
		vertical-align: middle;
	}
}

.list-social {
	list-style: none;
	padding-left: 0;
	margin: 0;
	margin-left: 3rem;
	display: flex;
	align-items: center;

	> li {

		&:not(:first-child) {
			margin-left: 1rem;
		}

		> a {
			img {
				height: 1rem;
				vertical-align: middle;
			}
		}

		&:last-child > a > img {
			height: 1.2rem;
		}
	}

	@include media-breakpoint-down(map-get($viewports, sm)) {
		display: none;
	}
}

// Header
.page-header {
	background: url('../images/bg-header.jpg') no-repeat center;
	background-size: cover;
	position: relative;

	.box {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.lead {
		margin-bottom: $space-xl;
	}

	.cta-fixed {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: $space-xs auto;
	}
}

.logo-header {
	margin-bottom: $space-lg;
	margin-top: $space-lg;
}

// Steps

.img-preview {
	margin: $space-md auto 0 auto;
}

// Confirm

.form-confirm {
	.row-2 {
		> * {
			flex-grow: 1;
		}
	}

	.btn-submit {
		margin-top: $space-lg;
		margin-bottom: $space-md;
	}
}

// Footer

.page-footer {
	.list {
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: baseline;
		flex-wrap: wrap;
		padding-left: 0;

		> li {
			margin: $space-xs $space-sm;
		}

		a {
			text-decoration: none;
			color: $dark;
			transition: all .2s ease-out;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.footer-info {
		margin: $space-lg 0 $space-xl 0;
	}
}

