// Button
//-------------------------------------

.btn {
	background: inherit;
	border: inherit;
	font-size: $button-font-size;
	transition: all .2s ease-in-out;
	font-family: $font-family-base;
	font-weight: $font-weight-bold;
	padding: $button-padding;
	letter-spacing: 3px;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
}

.btn-outline-light {
	border: solid 2px $white;
	color: $white;

	&:hover {
		background: $white;
		color: $dark;
	}
}

.btn-outline-dark {
	border: solid 2px $border-color;
	color: $dark;
	outline: solid 2px rgba($border-color, 0.4);
	outline-offset: 6px;

	&:hover, &:active, &:visited {
		background: $dark;
		color: $white;
		outline-offset: -2px;
		outline-color: $dark;
	}

	&:disabled, &[disabled] {
		cursor: no-drop;
		background-color: $border-color;
		color: $white;

		&:hover {
			outline-color: $border-color;
		}
	}
}

// Form
//-------------------------------------

.form {
	font-size: $font-size-heavy;
	font-weight: $font-weight-light;

	a {
		text-decoration: underline;
		color: $dark;
		transition: color .2s ease-in-out;

		&:hover {
			color: map-get($gradient-primary, end);
		}
	}
}

.form-group {
	margin-bottom: $space-md;

	.form-control {
		width: 100%;
		padding: $space-sm;
		border: solid 1px $border-color;
		background-color: transparent;
		outline: none;

		&:focus, &:active {
			border-color: $dark;
		}
	}

	select.form-control {
		appearance: none;
		border-radius: 0;
		padding-right: $space-lg;
		background: url('../images/icon-double-angle.svg') no-repeat;
		background-size: 13px auto;
		background-position: right $space-sm center;
	}
}

.form-group-checkbox {
	display: flex;
	margin-bottom: $space-md;

	input[type=checkbox].form-control {
		width: 0;
		height: 0;
		opacity: 0;

		+ label {
			flex: 0 0 42px;
			width: 42px;
			height: 42px;
			display: inline-block;
			border: solid 1px $border-color;
			position: relative;
			cursor: pointer;

			&::before {
				content: '';
				width: 1rem;
				height: 0.5rem;
				border: none;
				border-left: solid 1px $dark;
				border-bottom: solid 1px $dark;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				opacity: 0;
				transition: all .2s ease-in-out;
			}

			+ label {
				display: block;
				padding-left: $space-sm;
			}
		}

		&:checked {
			+ label::before {
				opacity: 1;
				transform: translate(-50%, -50%) rotate(-45deg);
			}
		}
	}
}

// Hamburger
//-------------------------------------
.menu-wrapper {
  	width: $bar-width;
	height: $bar-height + $bar-spacing * 2;
	cursor: pointer;
}

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  	width: $bar-width;
	height: $bar-height;
}

.hamburger-menu {
	position: relative;
	transform: translateY($bar-spacing);
	background: rgba(255, 255, 255, 1);
	transition: all 0ms 300ms;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: $bar-spacing;
		background: rgba(255, 255, 255, 1);
		transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}

	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: $bar-spacing;
		background: rgba(255, 255, 255, 1);
		transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}
  
  	&.animate {
   		background: rgba($white, 0);

   		&::after {
   			top: 0;
			transform: rotate(45deg);
			transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
   		}

   		&::before {
   			bottom: 0;
			transform: rotate(-45deg);
			transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
   		}
  	}
}
