.container {
	width: $container-width;
	max-width: $container-max-width;
	margin: 0 auto;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin-left: -($gutter / 2);
	margin-right: -($gutter / 2);
}

@for $n from 1 through length($viewports-name) {
	$viewport: nth($viewports-name, $n);
	$viewport-size: map-get($viewports, $viewport);

	@for $i from 1 through $cols {
		.col-#{$i} {
			@include col($i);
		}
	}
	
	@include media-breakpoint-up($viewport-size) {
		@for $i from 1 through $cols {
			.col-#{$viewport}-#{$i} {
				@include col($i);
			}
		}
	}
}
