// Font-face

@mixin fontface($name, $src, $file, $weight: normal, $style: normal){
  @font-face {
    font-family: "#{$name}";
    src: url('../fonts/#{$src}/#{$file}.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;
  }
}

// Media
@mixin media-breakpoint-up($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content
    }
}

@mixin media-breakpoint-down($breakpoint) {
    @media screen and (max-width: $breakpoint) {
        @content
    }
}

// Column size
@mixin col($col) {
    $width: 100% / $cols * $col;
    flex: 0 0 auto;
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
    width: $width;
}

// Linear gradient
@mixin linear-gradient($from, $to) {
  background: $to;
    background: -moz-linear-gradient(top, $from 0%, $to 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
    background: -webkit-linear-gradient(top, $from 0%,$to 100%);
    background: -o-linear-gradient(top, $from 0%,$to 100%);
    background: linear-gradient(to bottom, $from 0%,$to 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
}
