// Utilities
//-------------------------------------

.text-center {
	text-align: center;
}

.text-light {
	color: $white;
}

.text-dark {
	color: $dark;
}

.bg-primary {
	@include linear-gradient(map-get($gradient-primary, start), map-get($gradient-primary, end));
}

.section-padding {
	padding-top: $space-lg;
	padding-bottom: $space-lg;
}

.hidden-sm {
	@include media-breakpoint-down($mobile) {
		display: none;
	}
}

// Flexbox
//-------------------------------------

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-justify-center {
	justify-content: center;
}

.flex-justify-between {
	justify-content: space-between;
}

.flex-align-center {
	align-items: center;
}

.flex-with-gutter {
	> *:not(:last-child) {
		margin-right: $gutter;
	}
}

// Typography
//-------------------------------------

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-secondary;
	line-height: 1.3;
	font-weight: $font-weight-normal;
}

h1, .page-title {
	font-size: 3.375rem;
}

.section-title {
	font-size: 2rem;
	padding: 1rem 0.5rem;
	position: relative;
	margin-bottom: $space-lg;
	display: inline-block;
	margin: 0 auto $space-md auto;
	text-transform: uppercase;

	&::before {
		content: '';
		width: 100%;
		max-width: 344px;
		height: 2px;
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		@extend .bg-primary;
	}
}

.section-subtitle {
	margin-bottom: $space-lg;
}

.font-secondary {
	font-family: $font-family-secondary;
}

.lead {
	font-size: 1rem;
}

.lead-lg {
	font-size: $font-size-large;
}

// Animate
.animated {
  	animation-duration: 1s;
  	animation-fill-mode: both;

  	.infinite {
  		animation-iteration-count: infinite;
  	}
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInUp {
  	from {
    	opacity: 0;
    	transform: translate3d(0, 100%, 0);
  	}

  	to {
    	opacity: 1;
    	transform: translate3d(0, 0, 0);
  	}
}

.fadeInUp {
  	animation-name: fadeInUp;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}