// Fonts
$helveticaNeue: 'Helvetica Neue';
$font-family-base: $helveticaNeue;
$font-family-secondary: 'Times New Roman';

$font-weight-bold: 700;
$font-weight-light: 300;
$font-weight-normal: 400;

// Base
$font-size-small: 0.75rem;
$font-size-base: 0.9rem;
$font-size-heavy: 17px;
$font-size-large: 1.25rem;
$line-height-base: 1.5;

// Grid
$viewports-name: 'lg', 'md', 'sm';
$viewports: (
	lg: 75rem,
	md: 64rem,
	sm: 48rem
);

$desktop: map-get($viewports, lg);
$tablet: map-get($viewports, md);
$mobile: map-get($viewports, sm);

$container-max-width: 68rem;
$container-width: 90%;
$gutter: 1rem;
$cols: 12;

// Colors
$white: #fff;
$dark: #333333;
$gray: #95989A;
$gradient-primary: (
	start: #FFE4BC,
	end: #E6BCA7
);

// Spacing
$space-xl: 4rem;
$space-lg: 2.5rem;
$space-md: 1.75rem;
$space-sm: 1rem;
$space-xs: 0.8rem;
$line-height-normal: 1.5;

// Button
$button-font-size: $font-size-heavy;
$button-padding: 1.25rem 3rem;

// Hamburger
$bar-width: 20px;
$bar-height: 2px;
$bar-spacing: 6px;

// Other
$border-color: $gray;
