<% var title = 'John Walker - Test FE' %>

<!DOCTYPE html>
<html lang="en">
<head>
	<%- include _partials/_head %>
</head>
<body>
	<%- include _partials/_body %>
	<%- include _partials/_footer %>
</body>
</html>
